
.btn{
    text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 8px;
    color: rgb(91, 34, 126);
    }
    
.btn:hover{
    background-color: rgb(11, 1, 78);
    color: purple;
    padding: 10px;
}
@font-face {
    font-family:NerkoOne-Regular;
    src: url('NerkoOne-Regular.ttf');
}
    
body{
    font-family: NerkoOne-Regular;
         
        
}
          
     